.container {
  width: 100%;
  display: flex;
  position: relative;
  background: #000;
  flex-direction: column;
  min-height: calc(100vh);
  align-items: center;
  justify-content: center;
}

.image {
  width: auto;
  margin: auto;
  height: 300px;
  transition: all 0.2s;
  filter: drop-shadow(-3px 2px 0px rgba(255, 255, 255, 0.6));
  transform: rotate3d(1, 1, 1, -10deg) !important;
  /* animation: image 7s infinite; */
}

@keyframes image {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
